.admin-header{
    display: flex;
    justify-content: center;
}

.formContainer{
    font-family: 'Open Sans', sans-serif;
}

.data-form{
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(73, 159, 168);
    padding: 1rem 1rem 1rem 0rem;
}
.formContainer{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.formContainer .title{
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
}

.formContainer .title::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7eb, #eb59b6);
    left: 0;
    bottom: 0;
}

.formContainer form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    width: calc(100% / 2 - 20px);
    margin: 20px 0px 12px 0px;
    margin-bottom: 15px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid  #ccc;
    padding-left: 15px;
    font-size: 1rem;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #eb59b6;
}

.user-details .input-box .details{
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}


.label{
    color: black;
    font-weight: 600;
}




form input[type="radio"]{
    display: none;
}

form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    background: rgb(2,127,141);
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0.7;
}

form .button input:hover{
    background: rgb(2,127,141);
    opacity: 1;
}

@media only screen and (max-width: 822px){
    .formContainer{
        max-width: 100%;
        margin: 1rem 1rem 1rem 1rem;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category{
        width: 100%;
    }
    section{
        height: 100%;
    }
}

